@font-face {
  font-family: 'icomoon';
  src:    url('icomoon.eot?b8ip6v');
  src:    url('icomoon.eot?b8ip6v#iefix') format('embedded-opentype'),
  url('icomoon.ttf?b8ip6v') format('truetype'),
  url('icomoon.woff?b8ip6v') format('woff'),
  url('icomoon.svg?b8ip6v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts 
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;*/

  /* Better Font Rendering =========== 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.fa-search,
.fa-calendar-o,
.fa-clock-o { font-family: icomoon !important; }

.fa-search:before { content: "\e910"; }
.fa-calendar-o:before { content: "\e911"; }
.fa-clock-o:before { content: "\e912"; }
.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
  content: "≡";
  /*font-size: 52px;*/
  line-height: 0;
}